:root {
  // Colors
  --paper: #f6f3f3;
  --ink: #242121;
  --brand: #ed4343;
  --outline: #9e9e9e;

  // Fonts
  --font: "Raleway", "Roboto", "Open Sans", sans-serif;

  // Spacing
  --spacing: 1rem;
}
