* {
  margin: 0;
  padding: 0;
  line-height: 30px;
}

a,
.skills strong {
  color: #dd0303;
}

p,
li {
  font-size: 18px;
}

section {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 20px;
}

/* ----------App.js---------- */

.App {
  background-color: #f0f0f0;
  padding: 20px 50px;
}

.App .cyf {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 50px;
  margin: 20px;
}

.App .about-trainees {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}

.App .cyf figure {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

/* ----------Header.jsx---------- */

.header {
  display: flex;
  align-items: center;
}

.header h1 {
  flex-grow: 0.75;
  text-align: center;
}

/* ----------Skills.jsx---------- */

.skills {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills ul {
  margin-left: 20px;
}

/* ----------Trainee.jsx---------- */
.trainee {
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trainee .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.trainee .percent svg circle {
  fill: none;
  stroke-width: 10;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}

.trainee .percent svg circle:nth-child(1) {
  stroke: lightgray;
  stroke-dashoffset: 0;
}

.trainee .percent svg circle:nth-child(2) {
  stroke: #ff0000;
}

.trainee .percent svg .Female {
  stroke-dashoffset: calc(440 - (440 * 40) / 100);
}

.trainee .percent svg .Minority {
  stroke-dashoffset: calc(440 - (440 * 78) / 100);
}

.trainee .percent svg .Refugee {
  stroke-dashoffset: calc(440 - (440 * 53) / 100);
}

.trainee .percent svg .Live {
  stroke-dashoffset: calc(440 - (440 * 83) / 100);
}

.trainee .percent .number {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trainee .percent span {
  font-size: 20px;
}

.trainee .text {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  text-align: center;
}

/* ----------Footer.jsx---------- */

.footer {
  text-align: center;
  margin-top: 20px;
}
